@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Swift.Umbraco.Web.Models;
@{
    var datalayer = TempData["datalayer"] as DataLayerModel;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="We know that small cash prizes won’t change your life, but they will put a smile on your face! Buy any Trebor pack and enter online to win 1 of over 1000 cash prizes.">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="og:image" content="/Resources/images/og-image.jpg">
    <meta name="og:title" content="Win cash in a flash with Trebor!">
    <meta name="og:description" content="We know that small cash prizes won’t change your life, but they will put a smile on your face! Buy any Trebor pack and enter online to win 1 of over 1000 cash prizes.">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.png">
    <meta name="google-site-verification" content="EDUjncUAdsAu2zPCijr52WBTbiW-5MPgo8PFhtj3bkk" />
    <title>@CurrentPage.browserTitle</title>

    <!-- Google Tag Manager -->
    <script>
        window.dataLayer = window.dataLayer || [];
        dataLayer = [{
            'participation_ID_head': '@datalayer.participationID',
            'participant_ID_head': '@datalayer.participantID',
            'consumer_ID_head': '@datalayer.consumerID'
        }];
    </script>
    <!-- Google Tag Manager HEAD-->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '{{GTM_ID}}');</script>
    <!-- End Google Tag Manager -->
</head>
<body data-page="@Umbraco.Field("bodyClass")">
    <!-- Google Tag Manager (noscript) BODY-->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{GTM-ID}}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    @RenderBody()

    @if (Convert.ToBoolean(Umbraco.Field("cookieBanner").ToString()))
    {
        @Html.Partial("CookieBanner")
    }
</body>
</html>